{
  "env": {
    "node": true,
    "es2021": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended"
  ],
  "parserOptions": {
    "parser": "@babel/eslint-parser"
  },
  "plugins": ["vue"],
  "rules": {}
}
