<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<title>Vue demo</title>

<!-- Favicons -->
<!-- <link href="assets/img/favicon-32x32.png" rel="icon" />
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" /> -->

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;display=swap"
  rel="stylesheet"
/>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous"
/>

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
<header style="border-color: #ffc20e">
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
    </div>
  </div>
</header>


<!-- ======= Contact Section ======= -->
<section id="app" v-on:load = "getList">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4><b>Vue Demo</b></h4>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-success">
          <ul>
            <li @click="modeChange('view')" :class="{'btn': true, 'next_button': this.mode === 'view'}" >View</li>
            <li @click="modeChange('create')" :class="{'btn': true, 'next_button': this.mode === 'create'}">Create</li>
          </ul>
    
        </div>
        <div class="form-success" v-if="success">
          <div
            class="alert alert-success"
            role="alert"
            style="text-align: center"
          >
            <h4 class="alert-heading">Success!</h4>
            <p>Your request has been served!</p>
            <hr />
            <a href="" class="alert-link">Go to Home</a>
          </div>
        </div>

        <form
          v-else=""
          v-on:submit.prevent="onSubmit"

          method="post"
          role="form"
          class="php-email-form"
        >
        <div v-show="mode=='view'">
          <div class="card p-2 mb-2" v-for="user in usersList">
            <span>
              <label class="form-label"
              >Id: 
            </label>
            <label  class="form-label"
              >{{user.id}}
            </label>
            </span>
            <span>
              <label class="form-label"
              >Name: 
            </label>
            <label  class="form-label"
              >{{user.name}}
            </label>
            </span>
            <span>
              <label class="form-label"
              >Catagory: 
            </label>
            <label  class="form-label"
              >{{user.catagory}}
            </label>
            </span>
            <span>
              <label class="form-label"
              >Gender: 
            </label>
            <label  class="form-label"
              >{{user.type}}
            </label>
            </span>

            <div class="btn edit-btn" @click="onEditClick(user)"><span>Edit</span></div>
            <div class="btn delete-btn" @click="deleteItem(user)"><span>Delete</span></div>

          </div>
          
        </div>
          <div v-show="mode=='create' || mode == 'edit'">
            <div class="mb-4">
              <label for="floatingInputName" class="form-label"
                >Name <span class="required">*</span></label
              >
              <input
                type="text"
                v-on:keyup="onKeyUp"
                v-model="userData.name"
                class="form-control form-control-lg"
                id="floatingInputName"
                placeholder="Enter your full name"
                maxlength="100"
              />
            </div>
            <div class="mb-4">
              <label for="floatingSelectPCatagory" class="form-label"
                >Catagory<span class="required">*</span></label
              >
              <select
                class="form-select form-control-lg"
                v-on:change="onKeyUp"
                v-model="userData.catagory"
                id="floatingSelectPCatagory"
                aria-label="Select Catagory"
              >
                <option value="">--Select--</option>
                <option value="GENERAL">General</option>
                <option value="ST">ST</option>
                <option value="SC">SC</option>
                <option value="OBC">OBC</option>
              </select>
            </div>
            <div class="mb-4">
              <label for="floatingRadioGender" class="form-label"
                >Gender <span class="required">*</span></label
              >
              <div class="w-100 d-flex gap-3">
                <span>
                  <input
                    type="radio"
                    id="gender"
                    value="Male"
                    v-model="userData.type"
					aria-selected="true"
                  />
                  <label for="gender">Male</label>
                </span>
                <span>
                  <input
                    type="radio"
                    id="radioFemale"
                    value="Female"
                    v-model="userData.type"
                  />
                  <label for="radioFemale">Female</label>
                </span>
              </div>
            </div>
          </div>


          <div v-show="hasError">
            <div class="alert alert-danger" role="alert">{{errorMsge}}</div>
          </div>

          <div v-if="mode=='create' || mode == 'edit'" class="text-right" style="text-align: right">
            <button
              class="btn next_button"
              type="submit"
              style="background-color: #ffc20e; color: #fff"
            >
              <span v-if="mode=='create' || mode == 'edit'">Submit</span>
            </button>
          </div>

          <div class="form-loading" v-show="loading">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Vendor JS Files -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>

<script>
  var app = new Vue({
    el: "#app",
    data: {
      mode: "view",
      step: 0,
      hasError: false,
      errorMsge: "All fields are required!",
      loading: false,
      success: false,
      usersList: [],
      userData: {
        id: null,
        name: '',
        catagory: '',
        type: ''
      },
    },
    beforeMount(){
    this.getList()
    },
    methods: {
      modeChange(mode) {
        if (mode == 'view') {
          this.userData = {
            id: null,
            name: '',
            catagory: '',
            type: ''
          },
          this.mode = 'view';
        } else if(mode == 'create') {
          this.userData = {
            id: null,
            name: '',
            catagory: '',
            type: ''
          },
          this.mode ='create';
        }
      },
      getList() {
        this.loading = true;
        fetch('http://localhost:3000/api/v1/demo').then(res => res.json())
        .then(resp => {
          this.usersList = resp;
        })
        .catch((error) => console.error(error))
        .finally(() => this.loading = false)
      },
      deleteItem(item) {
        if (item?.id) {
          this.loading = true;
        fetch('http://localhost:3000/api/v1/demo/'+item.id, {
          method: 'DELETE'
        }).then(res => res.json())
        .then(resp => {
          this.getList();
        })
        .catch((error) => console.error(error))
        .finally(() => this.loading = false) 
        }
      },
      onKeyUp() {
        this.errorMsge = "All fields are required!";
        this.hasError = false;
      },
      createItem(data) {
        const requestOptions = {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          dataType: "json",
          body: JSON.stringify(data),
        };
        this.loading = true;
        fetch("http://localhost:3000/api/v1/demo", requestOptions)
          .then(async (response) => {
            const data = await response.json();
            this.mode='view';
            this.loading = false;
            this.success = true;
            this.getList()
          })
          .catch((error) => {
            this.loading = false;
            this.errorMessage = error;
            console.error("There was an error!", error);
          });
      },
      updateItem(data) {
        const requestOptions = {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          dataType: "json",
          body: JSON.stringify(data),
        };
        this.loading = true;
        fetch("http://localhost:3000/api/v1/demo/"+data.id, requestOptions)
          .then(async (response) => {
            const data = await response.json();
            this.mode='view';
            this.loading = false;
            this.success = true;
            this.getList()
          })
          .catch((error) => {
            this.loading = false;
            this.errorMessage = error;
            console.error("There was an error!", error);
          });
      },
      
      onEditClick (item) {
        this.userData.id = item.id;
        this.userData.name = item.name;
        this.userData.catagory = item.catagory;
        this.userData.type = item.type;
        this.mode = 'edit';
      },
      onSubmit() {
        this.errorMsge = "All fields are required!";
        this.hasError = false;

        if (this.mode == 'create') {
          if (
            !this.userData.name ||
            !this.userData.catagory ||
            !this.userData.type
          ) {
            this.hasError = true;
          } else {
            this.createItem({
              name: this.userData.name,
              catagory: this.userData.catagory,
              type: this.userData.type,
            });
          }
        } else if (this.mode == 'edit') {
          if (
            !this.userData.name ||
            !this.userData.catagory ||
            !this.userData.type
          ) {
            this.hasError = true;
          } else {
            this.updateItem({
              id: this.userData.id,
              name: this.userData.name,
              catagory: this.userData.catagory,
              type: this.userData.type,
            });
          }
        }
      },
    },
  });
</script>

</body>
</html>
